<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/header :: header(${'eStore - Product Inventory'})"/>
<body>
<nav th:include="fragments/navbar :: navbar"/>


<div class="container-wrapper">
    <div class="container">
        <div class="page-header">
            <h1>Register Customer</h1>

            <p class="lead">Please fill in your information below:</p>
        </div>

        <div class="row">
            <div class="col-xs-offset-2 col-xs-12">
                <form class="form-horizontal" th:action="@{'/register'}" method="post">

                    <h3>Basic Info</h3>

                    <div class="form-group">
                        <label for="name" class="col-xs-2">Name</label>

                        <div class="col-xs-8">
                            <input th:field="*{customer.customerName}" id="name" class="form-Control"/>
                            <p th:errors="*{customer.customerName}" class="alert alert-danger"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-xs-2">Email</label>
                        <span style="color: #ff0000" th:text="${emailMsg}"></span>
                        <div class="col-xs-8">
                            <input th:field="*{customer.customerEmail}" id="email" class="form-Control"/>
                            <p th:errors="*{customer.customerEmail}" class="alert alert-danger"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phone" class="col-xs-2">Phone</label>
                        <div class="col-xs-8">
                            <input th:field="*{customer.customerPhone}" id="phone" class="form-Control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="username" class="col-xs-2">Username</label>
                        <span style="color: #ff0000" th:text="${usernameMsg}"></span>
                        <div class="col-xs-8">
                            <input th:field="*{customer.username}" id="username" class="form-Control"/>
                            <p th:errors="*{customer.username}" class="alert alert-danger"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-xs-2">Password</label>
                        <div class="col-xs-8">
                            <input th:field="*{customer.password}" id="password"  type="password" class="form-Control"/>
                            <p th:errors="*{customer.password}" class="alert alert-danger"/>
                        </div>
                    </div>

                    <hr></hr>
                    <h3>Billing Address</h3>

                    <div class="form-group">
                        <label for="billingStreet" class="col-xs-2">Street Name</label>
                        <div class="col-xs-8">
                            <input th:field="*{billingAddress.streetName}" id="billingStreet" class="form-Control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="billingApartmentNumber" class="col-xs-2">Apartment Number</label>
                        <div class="col-xs-8">
                            <input th:field="*{billingAddress.apartmentNumber}" id="billingApartmentNumber" class="form-Control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="billingCity" class="col-xs-2">City</label>
                        <div class="col-xs-8">
                            <input th:field="*{billingAddress.city}" id="billingCity" class="form-Control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="billingState" class="col-xs-2">State</label>
                        <div class="col-xs-8">
                            <input th:field="*{billingAddress.state}" id="billingState" class="form-Control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="billingCountry" class="col-xs-2">Country</label>
                        <div class="col-xs-8">
                            <input th:field="*{billingAddress.country}" id="billingCountry" class="form-Control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="billingZip" class="col-xs-2">Zipcode</label>
                        <div class="col-xs-8">
                            <input th:field="*{billingAddress.zipCode}" id="billingZip" class="form-Control"/>
                        </div>
                    </div>

                    <hr></hr>
                    <h3>Shipping Address</h3>

                    <div class="form-group">
                        <label for="shippingStreet" class="col-xs-2">Street Name</label>
                        <div class="col-xs-8">
                            <input th:field="*{shippingAddress.streetName}" id="shippingStreet" class="form-Control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="shippingApartmentNumber" class="col-xs-2">Apartment Number</label>
                        <div class="col-xs-8">
                            <input th:field="*{shippingAddress.apartmentNumber}" id="shippingApartmentNumber" class="form-Control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="shippingCity" class="col-xs-2">City</label>
                        <div class="col-xs-8">
                            <input th:field="*{shippingAddress.city}" id="shippingCity" class="form-Control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="shippingState" class="col-xs-2">State</label>
                        <div class="col-xs-8">
                            <input th:field="*{shippingAddress.state}" id="shippingState" class="form-Control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="shippingCountry" class="col-xs-2">Country</label>
                        <div class="col-xs-8">
                            <input th:field="*{shippingAddress.country}" id="shippingCountry" class="form-Control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="shippingZip" class="col-xs-2">Zipcode</label>
                        <div class="col-xs-8">
                            <input th:field="*{shippingAddress.zipCode}" id="shippingZip" class="form-Control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-8">
                            <input type="submit" value="submit" class="btn btn-primary"/>
                            <a th:href="@{'/register'}" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>


        <footer th:include="fragments/footer :: footer"/>

    </div>
</div>


</body>
</html>

